.containerMain{
    background-color:gray;
    height: 95vh;
    justify-content: center;
    gap:1em 0;
    margin-top: 5em;
    position:relative;

}
.Rows{
    background-color: #0096c7;
    height: 100%;
    .column{
        padding: 1em 1em ;
        background-color: white;
        border: 1px solid transparent;
    }
    .column2{
        overflow: scroll;
        overflow-x: hidden;
        overflow-y: auto;
        scroll-behavior: smooth;
        height: 100%;
        z-index: 0;

        #thumbnailImage{
            height: 5em;
        }
        .LinkItems{
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #023e8a;
            font-size: 1em;
            color: gray;
            font-size: 1.2em;
        }
    }
}