.Navbarheader{
	background-color:#03045e;
	color: white;
	.ContainerHeader{
		background-color:#03045e;
		color: white;
		.LinksNav{
			color: white;
		}
	}
	.NavBrand{
		color: lightgray;
	}
}
.navbar-toggler{
	background-color:#fcfbfb8f;
}
#offCanvaheader{
	background-color:#03045e;
	#offcanvasNavbarLabel{
		color: white;
	}
	.btn-close{
		background-color:white;
	}
}
#offCanvabody{
	background-color:#03045e;
	.LinksNav{
		color: white;
	}
}

